{% extends 'TellawSunshineAdminBundle::base-security.html.twig' %}

{% block basebody %}
    <div class="m-login__signin">
        <div class="m-login__head">
            <h3 class="m-login__title">
                Connectez-vous
            </h3>
        </div>
    </div>
    {% block body %}{% endblock %}
{% endblock %}
