<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-eye font-dark"></i>
            <span class="caption-subject font-dark sbold uppercase">{{ widget.title }}</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-container">

            <div class="form-horizontal">
                {{ form_start(form) }}
                {% for row in form %}
                    <div class="form-group field-">
                        <div class="">
                            ldldl
                            {% set name = row.vars.name %}
                            {% if row.vars.data is defined and row.vars.data == null %}
                                {% set value = sunshine_render_entity_field(attribute(entity, name), attribute(fields, name), false) %}
                            {% else %}
                                {#{{ form_row(row) }}#}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

</div>
