<div class="m-portlet m-portlet--full-height ">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    <!-- Header or title of my portlet -->
                    Title of Widget
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">

        <!-- Body of my portlet -->
        {% block body %}

        {% endblock %}
    </div>
</div>